# Django
*.log
*.pot
*.pyc
__pycache__/
#db.sqlite3
media/

# Virtual environment
.venv/
venv/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Environment variables
.env
*.env
.env.*

# Базы данных
*.sqlite3
*.db
*.sqlite
db.sqlite3

# Файлы PostgreSQL (на всякий случай)
/postgresql_data/
/pgdata/

# Резервные копии баз данных
*.backup
*.dump
*.sql

# Логи PostgreSQL
*.log

/staticfiles/

generate_context.py
