@import url('schedule.css');
@import url('week_controller.css');
@import url('add_note.css');
@import url('week_day_modal.css');
@import url('timeline.css');
@import url('eye_toggle.css');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #cecdfa;
}




